:root {
  --color-primary: #8b98d6;
  --color-primary-dark: #4d5475;
  --color-secondary: #6fc787;
  --light-gray: rgb(233, 233, 233);
  --border-gray: rgb(184, 184, 184);
  --dark-gray: rgb(94, 94, 94);
  --white: #FFF;
}

* {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

/* ------------------DRY----------------------- */

.main-header,
.header-right,
.main-nav ul,
.dash-header,
.traffic-nav,
form,
.settings,
.switch-light,
.settings-button,
.alert-banner {
  display: flex;
}

.main-header,
.dash-header,
.switch-light,
.settings-button,
.alert-banner {
  justify-content: space-between;
}

.main-header,
.header-right,
.main-nav ul,
.switch-light {
  align-items: center;
}

.grid-container,
.social,
.social-container {
  display: grid;
}

.nav-icon,
.bell-icon {
  fill: var(--white);
}

.bell-icon,
.student-img {
  width: 40px;
}

.settings,
form {
  flex-direction: column;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

.student-img,
.profile-image {
  border-radius: 50%;
}

section,
.members-container {
  border-bottom: 1px solid var(--border-gray);
  padding-bottom: 12px;
}

input,
textarea,
select {
  transition: border;
  transition-duration: .4s;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--color-secondary);
}

.form-field, 
.form-area {
  margin-bottom: 8px;
  border: 2px solid var(--border-gray);
  border-radius: 5px;
  background-color: var(--light-gray);
}

button:hover,
select:hover,
a:hover,
.alert-banner-close:hover {
  cursor: pointer;
}

#save,
.button-disabled {
  width: 45%;
}

.traffic-nav,
.main-nav ul {
  padding-left: 0;
}

.main,
.main-header,
.alert-banner {
  padding: 0 8px;
}

.traffic-nav-link,
.form-area,
button {
  padding: 8px;
}

.form-area,
button,
.alert {
  margin-top: 16px;
}

.main-header,
.active,
button,
.alert-banner {
  color: var(--white);
}

.tab,
.social-container {
  background-color: var(--light-gray);
}

.main-header,
.alert-banner {
  background-color: var(--color-primary);
}

button,
.alert-banner {
  border-radius: 5px;
}

.tab,
.alert {
  width: 100%;
}

/* ----------------MAIN STYLES-------------------- */

.bold {
  font-weight: bold;
}

.add-bot-marg {
  margin-bottom: 16px;
}

.grid-container {
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "navigation"
    "main";
}

ul li {
  list-style-type: none;
}

.main-header {
  grid-area: header;
  height: 8vh;
}

.header-right {
  justify-content: flex-end;
}

h1 {
  font-size: 1.25rem;
}

h3 {
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.bell-icon {
  border-right: solid 2px var(--border-gray);
  padding-right: 12px;
}

.student-img {
  margin: 0 12px;
}

.header-student-name {
  font-size: .75rem;
}

.main-nav ul{
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 0;
  height: 5vh;
  padding-top: 4px;
  grid-area: navigation;
  background-color: var(--color-primary-dark);
}

.nav-icon {
  width: 30px;
  transition: fill .3s ease-out;
}

.nav-icon:hover {
  fill: var(--color-secondary);
}

.main {
  grid-area: main;
}

.tab {
  margin-left: 20px;
  margin-right: -8px;
  border-left: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
}

.traffic-nav {
  justify-content: space-around;
}

.active {
  border-radius: 35px;
  background-color: var(--color-secondary);
}

.temp-graph {
  max-width: 95%;
}

.social {
  grid-template-rows: auto;
  grid-row-gap: 10px;
}

.social-container {
  grid-template-columns: 80px 1fr;
  padding-left: 30px;
  border: 1px solid var(--border-gray);
  border-radius: 15px;
}

.social-image {
  align-self: center;
  width: 50px;
  fill: var(--color-primary);
}

.social-site-text {
  margin-bottom: 0;
  color: var(--color-primary);
}

.social-site-nums {
  margin-top: 0;
  font-size: 2rem;
  color: var(--dark-gray);
}

.members-container {
  text-align: center;
}

.profile-image {
  width: 60px;
  margin: 12px auto 0 auto;
}

.no-marg-text {
  margin: 0;
}

.form-field {
  height: 40px;
  padding-left: 8px;
}

.form-area {
  height: 100px;
}

button {
  border: none;
}

.button-primary {
  background-color: var(--color-primary);
}

.button-disabled {
  background-color: var(--dark-gray);
  align-self: flex-end;
}

.switch-light {
  margin-bottom: 20px;
}

.toggle-text {
  width: 70%;
}

.toggle {
  width: 30% !important;
}

/* ----------------MEDIA QUERIES------------------ */

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
      "header header"
      "navigation main";
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dash-header,
  .alert,
  .traffic,
  .social,
  .new-members,
  .recent-activity,
  .message,
  .settings {
    grid-column: 1 / span 2;
  }

  .daily {
    grid-column: 1 / span 1;
  }

  .mobile {
    grid-column: 2 / span 1;
  }

  .main-nav ul {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }

  .nav-icon {
    margin: 10px 0;
  }

  .traffic-nav {
    justify-content: flex-end;
  }

  .traffic-nav-link {
    margin-right: 25px;
  }

  .social {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
  }

  .social-container {
    grid-row: 2 / span 1;
  }

  .members-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .member-text,
  .members-container p {
    align-self: center;
  }

  .member-text {
    margin-left: 16px;
    text-align: left;
  }

  .members-container p {
    margin-top: 12px;
  }

  .switch-light {
    width: 50%;
  }
}



@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  
  .daily,
  .new-members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .new-members,
  .message {
    padding-right: 8px;
  }

  .recent-activity,
  .settings {
    padding-left: 8px;
    border-left: 1px solid var(--border-gray);
  }

  #timezone {
    margin-top: 28px;
  }
}